/* Navbar */
.logo {
  padding-bottom: 0.5rem;
}
#navbar .nav {
  flex-direction: column;
}
#navbar .nav ul li a {
  margin: 0;
  padding: 0.5rem;
}
/* Showcase */
#showcase .content {
  flex-direction: column-reverse;
}
.heading {
  font-size: 3rem;
  text-align: center;
}
.lead {
  text-align: center;
}
.content-text {
  text-align: center;
}
.content-text ul {
  justify-content: center;
}
#showcase .content-img img {
  width: 300px;
}

/* About */
#about .about {
  flex-direction: column;
}
.about-img img {
  width: 300px;
  margin-top: 3rem;
}

/* My Skills */
#skills .skills-list {
  flex-direction: column;
  align-items: baseline;
}
.box {
  margin-bottom: 2rem;
}
#skills h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}
#skills .skills-list {
  margin-top: 0rem;
  text-align: center;
  align-items: center;
}
.s-heading {
  font-size: 2rem;
}
/* My Works */
#works .website {
  flex-direction: column;
}

.web img {
  width: 199px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#works .website {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  /* height: 60vh; */
}
.box-y {
  width: 200px;
  height: 300px;
}

/* Contact me */
#contact .contact-wrap {
  grid-template-columns: none;
}
.contact-info li {
  font-size: 16px;
}

/* Footer */
#footer ul li {
  padding: 0.5rem;
}