/* Navbar */
.logo {
  padding-bottom: 0.5rem;
}
#navbar .nav {
  flex-direction: column;
}
#navbar .nav ul li a {
  margin: 0;
  padding: 0.3rem;
}
/* Showcase */
#showcase .content {
  flex-direction: column-reverse;
  align-items: center;
  padding-top: 1rem 0;
}
#showcase .content {
  padding-top: 1rem;
}
.heading {
  font-size: 3rem;
  text-align: center;
}
.lead {
  text-align: center;
}
.content-text {
  text-align: center;
}
.content-text ul {
  justify-content: center;
}
#showcase .content-img img {
  width: 300px;
}

/* About */
#about .about {
  flex-direction: column;
}
.about-img img {
  width: 300px;
  margin-top: 3rem;
}
.s-heading {
  text-align: center;
}
#about .about ul li {
  text-align: left;
}
#about .about .about-text {
  padding: 0;
  border-right: 0;
  box-shadow: none;
}
/* My Skills */
#skills {
  max-height: 100%;
  padding-top: 2rem;
}
#skills .skills-list {
  flex-direction: column;
  justify-content: baseline;
  align-items: baseline;
}
#skills h2 {
  padding-top: 1rem;
}
.box {
  display: flex;
  padding: 0.2rem;
  align-items: center;
  margin-bottom: 1rem;
  box-shadow: none;
}
.box img {
  width: 150px;
}
.box h3 {
  font-size: 1rem;
  text-align: left;
}
.box p {
  font-size: 16px;
  padding-bottom: 1px;
  text-align: left;
  padding: 0rem;
}
/* My works */
#works .website {
  flex-direction: column;
}
/* contact form */
#contact .contact-wrap {
  grid-template-columns: none;
}
#contact .contact-forms input , textarea{
  width: 100%;
}
.btn-left {
  text-align: left;
}
.contact-info li {
  padding-bottom: 10px;
  margin-left: 0.5rem;
  font-size: 16px;
  text-decoration-line: center;
}

/* Footer */
.logo {
  padding-bottom: 0.5rem;
}
#footer .nav {
  flex-direction: column;
}
#footer ul li a {
  margin: 0;
  padding: 0.5rem;
}