html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.6;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #1E0235;
}
/* Utility Class */
.container {
  max-width: 1500px;
  margin: auto;
}
.logo {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 2rem;
  padding: 0 2rem;
  color: #1E0235;
}
.heading {
  font-size: 5rem;
  line-height: 1.1;
  margin-bottom: 2rem;
}
.s-heading {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.web-head {
  font-size: 3rem;
  text-align: center;
  color: #fff;
}
.lead {
  font-size: 20px;
}
.read {
  font-weight: bolder;
  font-size: 18px;
}
.btn {
  margin-top: 2rem;
  margin-right: 1rem;
  display: inline-block;
  padding: 0.5rem 2rem;
  border: 3px #333 solid;
  transition: all 0.5s ease-in;
}
.btn-dark {
  background: #1E0235;
  color: #fff;
}
.btn:hover {
  background: #1E0235;
  color: #fff;
}
.btn-dark:hover {
  background: yellow;
  color: #1E0235;
}

.py-1 {padding: 0 1.5rem;}
.py-2 {padding: 0 2rem;}
.py-3 {padding: 0 3rem;}
.p-1 {padding: 1.5rem;}
.p-2 {padding: 2rem;}
.p-3 {padding: 3rem;}
.px-3 {padding: 3rem 0;}

/* Navbar */
#navbar {
  background: yellow;
}
#navbar .nav {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}
#navbar .nav ul {
  display: flex;
}
#navbar .nav ul li a {
  color: #333;
  margin: 0.5rem 1rem;
  padding-bottom: 0.5rem;
  font-size: 18px;
  border-bottom: 3px transparent solid;
  transition: border-color 0.5s; 
}
#navbar .nav ul li a:hover {
  border-color: #1E0235;
}

/* Showcase */
#showcase {
  background: yellow;
  color: #333;
}
#showcase .content-img {
  transform: translateY(0);
  position: relative;
  animation: panda 3s infinite linear;
}

@keyframes panda {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(20px);

  }
  100%{
    transform: translateY(0);

  }
}
#showcase .content {
  /* display: grid;
  grid-template-columns: repeat(2,1fr); */
  display: flex;
  justify-content: space-around;
  grid-gap: 1rem;
  height: 90vh;
  align-items: center;
  align-self: center;
}
#showcase .content-text {
  justify-content: center;
  max-width: 450px;
  align-self: center;
  /* margin-left: 5rem; */
}
#showcase .content-text ul {
  display: flex;
  align-items: baseline;
  margin-top: 2rem;
}
#showcase .content-text ul li {
  margin-right: 1rem;
  transition: 0.3s;
  transform: scale(1);
}
#showcase .content-text ul li:hover {
  transform: scale(1.1);
}
#showcase .content-img img {
  width: 550px;
}

/* About */
#about {
  background: #fff;
}
#about svg {
  position: relative;
  bottom: -10vw;
}
.about {
   margin-top: 11rem;
}
.about .about-img {
  margin-right: 5rem;
}
#about .about {
  display: flex;
  grid-gap: 2rem;
  justify-content: space-around;
}
#about .about ul li {
  margin-bottom: 1rem;
  list-style: circle;
}
#about .about .about-text  {
  padding: 3rem 4rem;
  background: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 0px 5px rgba(0,0,0,0.8);
  /* box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.8) inset; */
  /* box-shadow: inset 2px 2px 5px #444, inset -2px -2px 5px #444; */
  /* box-shadow: 4px 4px 6px #333, -5px -5px 7px #333; */
}

/* Skills */
#skills {
  background: yellow;
}
#skills .container {
  padding: 10rem 0;
}
#skills h2 {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 3rem;
}
#skills .skills-list {
  display: flex;
  grid-gap: 5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.box {
  box-shadow: 11px 11px 44px 0px rgb(226 231 6);
}
.box h3 {
  font-size: 1.5rem;
}
.box p {
  font-size: 16px;
  padding-bottom: 2rem;
}
.box img {
  max-width: 300px;
}

/* Works */
#works {
  background: black;
}
#works .container {
  padding: 8rem 0;
}
.web img {
  max-width: 300px;
}

#works .website {
  display: flex;
  grid-gap: 1rem;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  padding-bottom: 2rem;
}
.bg-light {
  padding: 0.3rem 0.90rem;
}
.box-y {
  margin-top: 4rem;
  padding-bottom: 1rem;
  background: #f4f4f4;
  max-width: 300px;
}
.view-btn {
  display: inline-block;
  border: none;
  padding: 0.75rem 1rem;
  background: black;
  color: #fff;
  margin-top: 1rem;
  transition: all 0.5s ease-in-out;
}
.view-btn:hover {
  background: #fff;
  color: black;
}

/* Contact Forms */
#contact {
  background: yellow;
  place-items: center;
}
#contact .container {
  padding: 5rem 0;
}
.contact-heading {
  font-size: 3rem;
  text-align: center;
}
#contact .contact-wrap {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 2rem;
  margin: 3rem 0;
}
.icone {
  padding-right: 0.25rem;
  min-width: 40px;
}
.contact-info li {
  padding-bottom: 1rem;
  margin-left: 1rem;
  font-size: 20px;
  text-decoration-line: center;
}
#contact .contact-forms input , textarea{
  display: block;
  width: 90%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: none;
  outline: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #000;
  color: #fff;
  font-size: 18px;
}
#contact .contact-forms textarea {
  max-width: 100%;
  height: 300px;
}
/* #contact .contact-forms input , textarea::placeholder {
  color: #fff;
} */
/* #contact .contact-forms input:focus , textarea:focus {
  background: white;
  color: black;
} */

#contact .contact-forms button {
  margin-top: 1rem;
  text-align: right;
  display: inline-block;
  border: none;
  padding: 1rem 1.5rem;
  text-align: right;
  background: black;
  color: #fff;
  transition: all 0.6s ease-in-out;
  cursor: pointer;
}
#contact .contact-forms button:hover {
  background: #fff;
  color: black;
}
.btn-left {
  text-align: right;
  margin-right: 4.4rem;
}
/* Footer */
#footer {
  background: black;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#footer ul{
  display: flex;
}
#footer ul li a{
  color: white;
  margin: 0.5rem 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 3px transparent solid;
  transition: border-color 0.5s; 
}
#footer ul li a:hover {
border-color: #fff;
}

#footer h2, ul {
  margin-bottom: 2rem;
}
#footer i {
  color: white;
  margin-bottom: 2rem;
  padding: 0 0.5rem;
}
#footer .logo{
  color: white;
}
.foot {
  color: #ccc;
}
