
.widescreen {
  display: block;
}
p {
  display: block;
}


/* Navbar */
#navbar {
  padding: 0 2rem;
}

/* Showcase */
#showcase {
  padding: 0 2rem;
}
.heading {
  font-size: 3.5rem;
  line-height: 1.3;
}
.lead {
  font-size: 18px;
  margin-top: 0.5rem;
}
.btn {
  margin-top: 1.5rem;
  padding: 0.5rem 1rem;
}
#showcase .content-img img {
  width: 400px;
}

/* About */
#about {
  padding: 0 2rem;
}
.about-img img {
  width: 400px;
}
.about-text {
  padding: 2rem 3rem;
}

/* My skills */
#skills {
  height: 80vh;
}
.box {
  padding: 0.5rem;
}
.box h3 {
  font-size: 1rem;
}
.box p {
  font-size: 1rem;
}
.box img {
  width: 250px;
}

/* Works */
